<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-primary text-white mb-4">
    <div class="container-fluid">
        <% if (locals.user) { %>
            <h3 class="navbar-brand">Hello, <%= user.username %></h3>
        <% } %>
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        
        <!--<div class="collapse navbar-collapse" id="navbarNav">-->
            <ul class="navbar-nav">
                <% if (locals.user) { %>
                    <li class="nav-item"><a href="/messages/new" class="nav-link btn btn-success">New Message</a></li>
                    <li class="nav-item"><a href="/messages" class="nav-link text-white">Messages</a></li>
                    <li class="nav-item"><a href="/join-club" class="nav-link btn btn-warning">Join club</a></li>
                    <li class="nav-item"><a href="/log-out" class="nav-link text-white">Log Out</a></li>
                <% } else { %>
                    <li class="nav-item"><a href="/sign-up" class="nav-link text-white">Sign Up</a></li>
                    <li class="nav-item"><a href="/log-in" class="nav-link text-white">Log In</a></li>
                <% } %>
            </ul>
        <!--</div>-->
        
    </div>
</nav>