<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="post">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" value="Test">

        <label for="lastName">Last name</label>
        <input type="text" name="lastName" id="lastName" value="User">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="admin@mail.com">

        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="test">

        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1" value="Test1234!">

        <label for="password2">Confirm password</label>
        <input type="password" name="password2" id="password2" value="Test1234!">

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>